@charset "UTF-8";
@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello/fontello.eot?65187528");
  src: url("../fonts/fontello/fontello.eot?65187528#iefix") format("embedded-opentype"), url("../fonts/fontello/fontello.woff2?65187528") format("woff2"), url("../fonts/fontello/fontello.woff?65187528") format("woff"), url("../fonts/fontello/fontello.ttf?65187528") format("truetype"), url("../fonts/fontello/fontello.svg?65187528#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?65187528#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-mail-1:before {
  content: '\e800'; }

/* '' */
.icon-phone:before {
  content: '\e801'; }

/* '' */
.icon-mail:before {
  content: '\e802'; }

/* '' */
.icon-location:before {
  content: '\e803'; }

/* '' */
.icon-heart-empty:before {
  content: '\e804'; }

/* '' */
.icon-link:before {
  content: '\e805'; }

/* '' */
.icon-wrench:before {
  content: '\e806'; }

/* '' */
.icon-lamp:before {
  content: '\e807'; }

/* '' */
.icon-brush:before {
  content: '\e808'; }

/* '' */
.icon-twitter-circled-1:before {
  content: '\f057'; }

/* '' */
.icon-instagram-circled:before {
  content: '\f05e'; }

/* '' */
.icon-menu:before {
  content: '\f0c9'; }

/* '' */
.icon-angle-right:before {
  content: '\f105'; }

/* '' */
.icon-angle-down:before {
  content: '\f107'; }

/* '' */
.icon-mobile:before {
  content: '\f10b'; }

/* '' */
.icon-gamepad:before {
  content: '\f11b'; }

/* '' */
.icon-angle-circled-down:before {
  content: '\f13a'; }

/* '' */
.icon-vimeo-circled:before {
  content: '\f307'; }

/* '' */
.icon-facebook-circled:before {
  content: '\f30d'; }

/* '' */
.icon-linkedin-circled:before {
  content: '\f319'; }

/* '' */
/*Specification*/
ul {
  padding: 0;
  margin: 0;
  list-style: none; }

p, h1, h5 {
  margin: 0; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #a3a6ac; }

.banner {
  padding: 75px 0 60px;
  text-align: center; }
  .banner__title {
    padding-bottom: 35px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    color: #4e555f;
    letter-spacing: 4px;
    text-transform: uppercase; }
  .banner__text {
    display: inline-block;
    width: 460px;
    font-size: 14px; }

.small-title {
  font-size: 20px;
  color: #4e555f; }

.small-text {
  font-size: 14px; }

.submit {
  display: inline-block;
  padding: 6px 30px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  border: 1px solid #4e555f;
  background: transparent;
  color: #4e555f;
  text-decoration: none; }
  .submit:hover {
    background: #10b292;
    color: #fff;
    border: 1px solid #fff;
    text-decoration: none; }

.cta {
  border: 1px solid #fff;
  color: #fff; }
  .cta:hover {
    border: 1px solid #4e555f;
    color: #4e555f;
    background: transparent; }

.green {
  color: #10b292;
  font-weight: 700; }

.black {
  color: #4e555f; }

.icons li a {
  display: inline-block;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  text-align: center;
  background: #81868e;
  color: #fff;
  font-size: 20px;
  line-height: 50px;
  text-decoration: none; }
  .icons li a:hover {
    background: #10b292; }

.dark-curtains {
  background: rgba(0, 0, 0, 0.9); }
  .dark-curtains__text {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    line-height: 320px;
    text-align: center;
    text-transform: uppercase;
    color: #fff; }

.panel {
  background: rgba(24, 164, 134, 0.9);
  color: #fff; }

/*Hero section*/
.header {
  background: url(../img/Layer-1.jpg) no-repeat 50% 100%;
  opacity: 0.9;
  color: #fff; }

.dark-bg {
  background: rgba(0, 0, 0, 0.3); }

.logo {
  margin-top: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 25px;
  text-transform: uppercase; }
  .logo a {
    color: #fff;
    text-decoration: none; }

.menu {
  margin-top: 40px; }
  .menu__item {
    padding: 6px 19px;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    border: 1px solid transparent; }
    .menu__item:hover {
      border: 1px solid #fff; }
    .menu__item a {
      color: #fff;
      text-decoration: none; }

.header-title {
  margin: 210px 0 220px;
  text-align: center; }
  .header-title h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 35px;
    font-weight: 300;
    letter-spacing: 6px;
    text-transform: uppercase; }
  .header-title p {
    padding-top: 30px;
    display: inline-block;
    width: 630px;
    line-height: 1.8rem; }

.angle-down {
  text-align: center;
  margin-bottom: 75px; }
  .angle-down a i {
    display: inline-block;
    width: 35px;
    height: 35px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: #10b292;
    color: #fff;
    text-align: center;
    line-height: 35px; }

/*Second section*/
.history {
  margin: 110px 0 100px 165px; }
  .history__button {
    padding-top: 30px; }

.ipad {
  margin: 85px 0 0 120px; }

/*Third section*/
.details {
  background: #f3f3f3; }

.details-icons li {
  padding-right: 25px; }

.creative {
  padding: 60px 0 35px 90px;
  text-align: left; }
  .creative h5 {
    padding-bottom: 30px; }
  .creative p {
    width: 330px; }

.creative-right {
  padding: 114px 80px 95px 0;
  text-align: left; }
  .creative-right p {
    width: 520px;
    line-height: 1.7; }

/*Fourth section*/
.img-layer83 {
  background: url(../img/Layer-83.jpg);
  width: 600px;
  height: 320px; }

.img-layer17 {
  background: url(../img/Layer-17.jpg) 60% 50%;
  width: 335px;
  height: 320px; }

.img-layer18 {
  background: url(../img/Layer-18.jpg) 100% 50%;
  width: 255px;
  height: 320px; }

.img-layer84 {
  background: url(../img/Layer-84.jpg) no-repeat center;
  width: 1110px; }
  .img-layer84__text {
    padding: 40px 0 40px 70px;
    font-size: 20px;
    display: inline-block;
    width: 755px; }
  .img-layer84__button {
    margin-top: 37px;
    margin-right: 70px;
    text-align: right; }

/*Fifth section*/
.services {
  background: #f3f3f3; }

.services-icons {
  margin: 0 0 125px 70px;
  display: block;
  text-align: center; }
  .services-icons li {
    padding-bottom: 15px; }
    .services-icons li a {
      display: inline-block; }

.graphic p {
  padding-top: 30px;
  width: 405px; }

.circular {
  margin: 40px 0 0 85px;
  color: #a3a6ac; }
  .circular__item {
    padding-right: 40px;
    text-align: center;
    position: relative; }
    .circular__item:after {
      content: "%";
      position: absolute;
      top: 52px;
      left: 75px;
      font-size: 14px; }
    .circular__item p {
      padding-top: 10px; }
  .circular__text {
    text-transform: uppercase; }

/*Sixth section*/
.team-quotes {
  background: url(../img/Layer-9.jpg) no-repeat 50% 40%; }

.left-part {
  color: #fff;
  padding: 75px 0 100px;
  width: 600px; }
  .left-part h5 {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px; }
  .left-part__citation {
    padding-top: 50px; }
  .left-part__position {
    padding-top: 20px;
    text-transform: uppercase; }

.monitor {
  margin-top: -37px;
  padding-left: 100px;
  position: relative; }
  .monitor p {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    top: 110px;
    left: 240px;
    font-size: 30px; }

/*Seventh section*/
.portfolio {
  background: #f3f3f3; }
  .portfolio-menu {
    margin: 15px 0 73px; }
    .portfolio-menu__item {
      margin-right: 30px; }
      .portfolio-menu__item a {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        color: #4e555f;
        text-decoration: none; }
        .portfolio-menu__item a:after {
          content: "";
          display: block;
          width: 70%;
          height: 2px;
          background: #10b292;
          -webkit-transform: translate(8px, 15px) scale(0);
              -ms-transform: translate(8px, 15px) scale(0);
                  transform: translate(8px, 15px) scale(0);
          -webkit-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s; }
        .portfolio-menu__item a:hover:after {
          -webkit-transform: translate(8px, 15px) scale(1);
              -ms-transform: translate(8px, 15px) scale(1);
                  transform: translate(8px, 15px) scale(1); }

.img-layer86 {
  background: url(../img/Layer-86.jpg);
  width: 270px;
  height: 360px; }

.img-layer87 {
  background: url(../img/Layer-87.jpg) 50% 50%;
  width: 270px;
  height: 230px;
  margin-left: -5px; }

.img-layer91 {
  background: url(../img/Layer-91.jpg) 80% 50%;
  width: 270px;
  height: 300px;
  margin-left: -10px; }

.img-layer88 {
  background: url(../img/Layer-88.jpg) 70% 50%;
  width: 270px;
  height: 360px;
  margin-left: -15px; }

.img-layer90 {
  margin-top: 10px;
  background: url(../img/Layer-90.jpg) no-repeat center;
  width: 270px;
  height: 360px; }

.img-layer95 {
  margin: -120px 0 0 -5px;
  background: url(../img/Layer-95.jpg) no-repeat 80% 50%;
  width: 270px;
  height: 342px; }

.img-layer89 {
  margin: -50px 0 0 -10px;
  background: url(../img/Layer-89.jpg) no-repeat 80% 50%;
  width: 270px;
  height: 373px; }
  .img-layer89__content {
    width: 270px;
    height: 373px;
    padding: 105px 35px 0 40px; }
    .img-layer89__content h5 {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 20px;
      color: #10b292;
      letter-spacing: 4px;
      text-transform: uppercase; }
      .img-layer89__content h5:after {
        content: "";
        width: 25px;
        border-bottom: 1px solid #10b292;
        position: absolute;
        top: 100px;
        left: 45px; }
    .img-layer89__content p {
      margin: 50px 0 60px;
      font-size: 12px; }
  .img-layer89__icons li {
    margin-right: 7px; }
    .img-layer89__icons li a {
      width: 28px;
      height: 28px;
      background: #000;
      font-size: 12px;
      line-height: 28px; }

.img-layer93 {
  margin: -40px 0 0 -15px;
  background: url(../img/Layer-93.jpg) no-repeat 30% 50%;
  width: 270px;
  height: 373px; }

.img-layer92 {
  margin-top: 10px;
  background: url(../img/Layer-92.jpg) no-repeat 100% 50%;
  width: 270px;
  height: 210px; }

.img-layer96 {
  margin: -140px 0 0 -5px;
  background: url(../img/Layer-96.jpg) no-repeat 70% 50%;
  width: 270px;
  height: 360px; }

.img-layer94 {
  margin: -38px 0 0 -10px;
  background: url(../img/Layer-94.jpg) no-repeat 50% 50%;
  width: 270px;
  height: 258px; }

.img-layer97 {
  margin: -77px 0 0 -15px;
  background: url(../img/Layer-97.jpg) no-repeat 5% 20%;
  width: 270px;
  height: 297px; }

.img-layer102 {
  margin: 40px 0 100px;
  background: url(../img/Layer-102.jpg) no-repeat 50% 30%; }
  .img-layer102__text {
    padding: 55px 0 25px;
    font-size: 20px;
    text-align: center; }
  .img-layer102__button {
    text-align: center;
    padding-bottom: 55px; }

/*Eighth section*/
.img-layer103 {
  margin: 0 0 60px 70px; }

.visit-card {
  width: 370px;
  text-align: right;
  margin-right: 115px; }
  .visit-card:after {
    content: "";
    display: block;
    height: 42px;
    border-right: 4px solid #10b292;
    position: absolute;
    right: 45px;
    top: 2px; }
  .visit-card i {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 30px; }

.skillbox {
  margin: 40px 0 0 40px;
  text-transform: uppercase;
  width: 330px; }
  .skillbox__info {
    margin-top: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 4px; }
  .skillbox__wrap {
    background: #e1e4e9; }
    .skillbox__wrap_level {
      background: #10b292;
      height: 4px; }

/* 320 - 480 px */
@media screen and (max-width: 480px) {
  .header {
    -webkit-background-size: cover;
            background-size: cover; } }
