.header {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #fff;
  background: url(../img/Layer-1.jpg) no-repeat center top; }
  .header-navbar {
    padding: 40px; }
  .header-logo a {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: 900;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase; }
  .header-menu {
    list-style: none;
    padding: 0;
    margin: 0; }
    .header-menu__item a {
      color: #fff;
      text-decoration: none; }
      .header-menu__item a:hover {
        border: 1px solid #fff;
        -webkit-border-radius: 20px;
                border-radius: 20px;
        padding: 8px 20px; }
  .header-title {
    padding: 230px 0 330px;
    text-align: center; }
    .header-title h1 {
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 300; }
    .header-title p {
      font-family: 'Open Sans', sans-serif;
      font-weight: 400; }
