@charset "UTF-8";
@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello/fontello.eot?83411786");
  src: url("../fonts/fontello/fontello.eot?83411786#iefix") format("embedded-opentype"), url("../fonts/fontello/fontello.woff2?83411786") format("woff2"), url("../fonts/fontello/fontello.woff?83411786") format("woff"), url("../fonts/fontello/fontello.ttf?83411786") format("truetype"), url("../fonts/fontello/fontello.svg?83411786#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?83411786#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-mail-1:before {
  content: '\e800'; }

/* '' */
.icon-phone:before {
  content: '\e801'; }

/* '' */
.icon-mail:before {
  content: '\e802'; }

/* '' */
.icon-location:before {
  content: '\e803'; }

/* '' */
.icon-heart-empty:before {
  content: '\e804'; }

/* '' */
.icon-link:before {
  content: '\e805'; }

/* '' */
.icon-wrench:before {
  content: '\e806'; }

/* '' */
.icon-lamp:before {
  content: '\e807'; }

/* '' */
.icon-brush:before {
  content: '\e808'; }

/* '' */
.icon-twitter-circled-1:before {
  content: '\f057'; }

/* '' */
.icon-instagram-circled:before {
  content: '\f05e'; }

/* '' */
.icon-menu:before {
  content: '\f0c9'; }

/* '' */
.icon-angle-right:before {
  content: '\f105'; }

/* '' */
.icon-angle-up:before {
  content: '\f106'; }

/* '' */
.icon-angle-down:before {
  content: '\f107'; }

/* '' */
.icon-mobile:before {
  content: '\f10b'; }

/* '' */
.icon-gamepad:before {
  content: '\f11b'; }

/* '' */
.icon-angle-circled-down:before {
  content: '\f13a'; }

/* '' */
.icon-vimeo-circled:before {
  content: '\f307'; }

/* '' */
.icon-facebook-circled:before {
  content: '\f30d'; }

/* '' */
.icon-linkedin-circled:before {
  content: '\f319'; }

/* '' */
/*Specification*/
ul {
  padding: 0;
  margin: 0;
  list-style: none; }

p, h1, h5 {
  margin: 0; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #a3a6ac; }

input {
  outline: none;
  border-top: 0; }

.logo {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 25px;
  text-transform: uppercase; }

.banner {
  text-align: center; }

.banner__title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  color: #4e555f;
  letter-spacing: 4px;
  text-transform: uppercase; }

.banner__text {
  display: inline-block;
  width: 460px;
  font-size: 14px; }

.small-title {
  font-size: 20px;
  color: #4e555f; }

.small-text {
  font-size: 14px; }

.submit {
  display: inline-block;
  padding: 6px 30px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  border: 1px solid #4e555f;
  background: transparent;
  color: #4e555f;
  text-decoration: none; }
  .submit:hover {
    background: #10b292;
    color: #fff;
    border: 1px solid #fff;
    text-decoration: none; }

.cta {
  border: 1px solid #fff;
  color: #fff; }
  .cta:hover {
    border: 1px solid #4e555f;
    color: #4e555f;
    background: transparent; }

.cta_s {
  color: #fff;
  background: #10b292;
  -webkit-border-radius: 0;
          border-radius: 0;
  border: none;
  text-transform: uppercase;
  cursor: pointer; }

.active {
  color: #10b292;
  font-weight: 700; }

.black {
  color: #4e555f; }

.icons li a {
  display: inline-block;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  text-align: center;
  background: #81868e;
  color: #fff;
  font-size: 20px;
  line-height: 50px;
  text-decoration: none; }
  .icons li a:hover {
    background: #10b292; }

.dark-curtains {
  background: rgba(0, 0, 0, 0.9); }
  .dark-curtains__text {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    line-height: 320px;
    text-align: center;
    text-transform: uppercase;
    color: #fff; }

.panel {
  background: rgba(24, 164, 134, 0.9);
  color: #fff; }

.ellipse {
  width: 10px;
  height: 10px;
  border: 1px solid #10b292;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  cursor: pointer; }

.disabl {
  display: none; }

.go-top {
  display: none;
  position: fixed;
  color: #10b292;
  z-index: 900;
  right: 2%;
  bottom: 50%;
  cursor: pointer;
  opacity: 0.4; }
  .go-top:hover {
    opacity: 1; }

/*Hero section*/
.header {
  background: url(../img/Layer-1.jpg) no-repeat 50% 100%;
  opacity: 0.9;
  color: #fff; }
  .header-logo {
    margin-top: 40px; }
    .header-logo a {
      color: #fff;
      text-decoration: none; }

.menu {
  margin-top: 40px; }
  .menu__item {
    padding: 6px 19px;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    border: 1px solid transparent; }
    .menu__item:hover {
      border: 1px solid #fff; }
    .menu__item a {
      color: #fff;
      text-decoration: none; }

.header-title {
  margin: 210px 0 220px;
  text-align: center; }
  .header-title h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 35px;
    font-weight: 300;
    letter-spacing: 6px;
    text-transform: uppercase; }
  .header-title p {
    padding-top: 30px;
    display: inline-block;
    width: 630px;
    line-height: 1.8rem; }

.angle-down {
  text-align: center;
  margin-bottom: 75px; }
  .angle-down__link {
    display: inline-block;
    width: 35px;
    height: 35px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: #10b292;
    color: #fff;
    text-align: center;
    line-height: 35px; }
    .angle-down__link:hover {
      color: #10b292;
      background: #fff; }

.dark-bg {
  background: rgba(0, 0, 0, 0.3); }

/*Second section*/
.history {
  margin: 110px 0 100px 165px; }
  .history__title {
    padding-bottom: 35px; }
  .history__button {
    padding-top: 30px; }

.ipad {
  margin: 85px 0 0 120px; }

/*Third section*/
.details {
  background: #f3f3f3; }
  .details-banner {
    padding: 75px 0 60px; }
    .details-banner__title {
      padding-bottom: 35px; }
  .details-icons li {
    padding-right: 25px; }

.creative-one {
  padding: 60px 0 35px 90px;
  text-align: left; }
  .creative-one__title {
    padding-bottom: 30px; }
  .creative-one__text {
    width: 330px; }

.creative-two {
  padding: 114px 80px 95px 0;
  text-align: left; }
  .creative-two__text {
    width: 520px;
    line-height: 1.7; }

/*Fourth section*/
.projects-banner {
  padding: 75px 0 60px; }
  .projects-banner__title {
    padding-bottom: 30px; }

.img-layer83 {
  background: url(../img/Layer-83.jpg);
  width: 600px;
  height: 320px; }

.img-layer17 {
  background: url(../img/Layer-17.jpg) 60% 50%;
  width: 335px;
  height: 320px; }

.img-layer18 {
  background: url(../img/Layer-18.jpg) 100% 50%;
  width: 255px;
  height: 320px; }

.img-layer84 {
  background: url(../img/Layer-84.jpg) no-repeat center;
  width: 1110px; }
  .img-layer84__text {
    padding: 40px 0 40px 70px;
    font-size: 20px;
    display: inline-block;
    width: 755px; }
  .img-layer84__button {
    margin-top: 37px;
    margin-right: 70px;
    text-align: right; }

/*Fifth section*/
.services {
  background: #f3f3f3; }
  .services-banner {
    padding: 75px 0 60px; }
    .services-banner__title {
      padding-bottom: 30px; }
  .services-icons {
    margin: 0 0 125px 70px;
    display: block;
    text-align: center; }
    .services-icons li {
      padding-bottom: 15px; }
      .services-icons li a {
        display: inline-block; }

.graphic__title {
  padding-bottom: 30px;
  width: 405px; }

.graphic__text-one {
  padding-bottom: 30px; }

.circular {
  margin: 40px 0 0 85px;
  color: #a3a6ac; }
  .circular__item {
    padding-right: 40px;
    text-align: center;
    position: relative; }
    .circular__item:after {
      content: "%";
      position: absolute;
      top: 52px;
      left: 75px;
      font-size: 14px; }
    .circular__item p {
      padding-top: 10px; }
  .circular__text {
    text-transform: uppercase; }

/*Sixth section*/
.team-quotes {
  background: url(../img/Layer-9.jpg) no-repeat 50% 40%; }

.part-one {
  color: #fff;
  padding: 75px 0 100px;
  width: 600px; }
  .part-one__title {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px; }
  .part-one__citation {
    padding-top: 50px; }
  .part-one__position {
    padding-top: 20px;
    text-transform: uppercase; }

.monitor {
  margin-top: -37px;
  padding-left: 100px;
  position: relative; }
  .monitor p {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    top: 110px;
    left: 240px;
    font-size: 30px; }

/*Seventh section*/
.portfolio {
  background: #f3f3f3; }
  .portfolio-banner {
    padding: 75px 0 60px; }
    .portfolio-banner__title {
      padding-bottom: 30px; }
  .portfolio-menu {
    margin: 15px 0 73px; }
    .portfolio-menu__item {
      margin-right: 30px; }
      .portfolio-menu__item a {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        color: #4e555f;
        text-decoration: none; }
        .portfolio-menu__item a:after {
          content: "";
          display: block;
          width: 70%;
          height: 2px;
          background: #10b292;
          -webkit-transform: translate(8px, 15px) scale(0);
              -ms-transform: translate(8px, 15px) scale(0);
                  transform: translate(8px, 15px) scale(0);
          -webkit-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s; }
        .portfolio-menu__item a:hover:after {
          -webkit-transform: translate(8px, 15px) scale(1);
              -ms-transform: translate(8px, 15px) scale(1);
                  transform: translate(8px, 15px) scale(1); }

.img-layer86 {
  background: url(../img/Layer-86.jpg);
  width: 270px;
  height: 360px; }

.img-layer87 {
  background: url(../img/Layer-87.jpg) 50% 50%;
  width: 270px;
  height: 230px;
  margin-left: -5px; }

.img-layer91 {
  background: url(../img/Layer-91.jpg) 80% 50%;
  width: 270px;
  height: 300px;
  margin-left: -10px; }

.img-layer88 {
  background: url(../img/Layer-88.jpg) 70% 50%;
  width: 270px;
  height: 360px;
  margin-left: -15px; }

.img-layer90 {
  margin-top: 10px;
  background: url(../img/Layer-90.jpg) no-repeat center;
  width: 270px;
  height: 360px; }

.img-layer95 {
  margin: -120px 0 0 -5px;
  background: url(../img/Layer-95.jpg) no-repeat 80% 50%;
  width: 270px;
  height: 342px; }

.img-layer89 {
  margin: -50px 0 0 -10px;
  background: url(../img/Layer-89.jpg) no-repeat 80% 50%;
  width: 270px;
  height: 373px; }
  .img-layer89__content {
    width: 270px;
    height: 373px;
    padding: 105px 35px 0 40px; }
    .img-layer89__content h5 {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 20px;
      color: #10b292;
      letter-spacing: 4px;
      text-transform: uppercase; }
      .img-layer89__content h5:after {
        content: "";
        width: 25px;
        border-bottom: 1px solid #10b292;
        position: absolute;
        top: 100px;
        left: 45px; }
    .img-layer89__content p {
      margin: 50px 0 60px;
      font-size: 12px; }
  .img-layer89__icons li {
    margin-right: 7px; }
    .img-layer89__icons li a {
      width: 28px;
      height: 28px;
      background: #000;
      font-size: 12px;
      line-height: 28px; }

.img-layer93 {
  margin: -40px 0 0 -15px;
  background: url(../img/Layer-93.jpg) no-repeat 30% 50%;
  width: 270px;
  height: 373px; }

.img-layer92 {
  margin-top: 10px;
  background: url(../img/Layer-92.jpg) no-repeat 100% 50%;
  width: 270px;
  height: 210px; }

.img-layer96 {
  margin: -140px 0 0 -5px;
  background: url(../img/Layer-96.jpg) no-repeat 70% 50%;
  width: 270px;
  height: 360px; }

.img-layer94 {
  margin: -38px 0 0 -10px;
  background: url(../img/Layer-94.jpg) no-repeat 50% 50%;
  width: 270px;
  height: 258px; }

.img-layer97 {
  margin: -77px 0 0 -15px;
  background: url(../img/Layer-97.jpg) no-repeat 5% 20%;
  width: 270px;
  height: 297px; }

.img-layer102 {
  margin: 40px 0 100px;
  background: url(../img/Layer-102.jpg) no-repeat 50% 30%; }
  .img-layer102__text {
    padding: 55px 0 25px;
    font-size: 20px;
    text-align: center; }
  .img-layer102__button {
    text-align: center;
    padding-bottom: 55px; }

/*Eighth section*/
.team-banner {
  padding: 75px 0 60px; }
  .team-banner__title {
    padding-bottom: 30px; }

.img-layer103 {
  margin-left: 70px; }

.visit-card {
  width: 370px;
  text-align: right;
  margin-right: 115px; }
  .visit-card:after {
    content: "";
    display: block;
    height: 42px;
    border-right: 4px solid #10b292;
    position: absolute;
    right: 45px;
    top: 2px; }
  .visit-card i {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 30px; }

.skillbox {
  margin: 40px 0 0 40px;
  text-transform: uppercase;
  width: 330px; }
  .skillbox__info {
    margin-top: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 4px; }
  .skillbox__wrap {
    background: #e1e4e9; }
    .skillbox__wrap_level {
      background: #10b292;
      height: 4px; }

.team-bullets {
  margin: 60px 0 100px; }
  .team-bullets__ellipse {
    margin: 0 10px 0 0; }

#photo1:checked ~ .label1 {
  background: #10b292; }

#photo2:checked ~ .label2 {
  background: #10b292; }

#photo3:checked ~ .label3 {
  background: #10b292; }

.img-layer104 {
  background: url(../img/Layer-104.jpg);
  text-align: center;
  color: #fff; }
  .img-layer104__text {
    padding: 55px 0 25px;
    font-size: 20px; }
  .img-layer104__button {
    padding-bottom: 55px; }

/*Nineth section*/
.testimonials {
  background: #f3f3f3; }
  .testimonials-banner {
    padding: 75px 0 60px; }
    .testimonials-banner__title {
      padding-bottom: 30px; }
  .testimonials-bg {
    background: #fff; }
  .testimonials-bullets {
    margin-bottom: 60px; }
    .testimonials-bullets__ellipse {
      margin: 0 10px 0 0; }
  .testimonials-empty {
    background: #f3f3f3;
    margin-top: 100px; }

.img-layer439 {
  padding: 50px 60px 60px 100px; }

.founder__text {
  padding-top: 50px;
  width: 770px; }

.founder__name {
  margin-top: 20px;
  text-transform: uppercase; }

.founder__art {
  text-transform: uppercase;
  color: #4e555f; }

#photo4:checked ~ .label4 {
  background: #10b292; }

#photo5:checked ~ .label5 {
  background: #10b292; }

#photo6:checked ~ .label6 {
  background: #10b292; }

/*Tenth section*/
.blog {
  background: url(../img/Layer-441.jpg) no-repeat center;
  text-align: left; }
  .blog-banner {
    padding: 75px 0 95px; }
    .blog-banner__title {
      padding-bottom: 30px;
      color: #fff; }
  .blog-trending {
    padding-left: 70px; }
    .blog-trending__title {
      color: #fff; }
    .blog-trending__by {
      margin: 8px 0 15px;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 14px;
      text-transform: uppercase;
      display: block; }
    .blog-trending__post {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 14px;
      color: #464646; }
    .blog-trending__text {
      margin: 55px 0 50px;
      width: 600px; }
    .blog-trending__button {
      margin-bottom: 100px; }
      .blog-trending__button_mod {
        padding: 0;
        border: none;
        color: #81868e; }
        .blog-trending__button_mod:hover {
          border: none;
          background: transparent; }
  .blog-bullets {
    position: relative;
    top: 50%;
    left: 80%; }
    .blog-bullets__ellipse_mod {
      border: 1px solid #b2b3b3; }

#photo7:checked ~ .label7 {
  background: #b2b3b3; }

#photo8:checked ~ .label8 {
  background: #b2b3b3; }

#photo9:checked ~ .label9 {
  background: #b2b3b3; }

/*Eleventh section*/
.price {
  background: #f3f3f3; }
  .price-banner {
    padding: 75px 0 95px; }
    .price-banner__title {
      padding-bottom: 30px; }

.plans {
  width: 235px;
  height: 300px;
  text-align: center;
  font-size: 20px;
  background: #fff; }

.plans-premium {
  margin: 0 0 100px 165px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  .plans-premium:hover {
    -webkit-box-shadow: 0 0 5px 0 #000;
            box-shadow: 0 0 5px 0 #000; }
  .plans-premium__title, .plans-exclusive__title {
    height: 65px;
    line-height: 65px;
    background: #10b292;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase; }
  .plans-premium__price, .plans-exclusive__price {
    padding-top: 45px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 42px;
    font-weight: 900; }
  .plans-premium__text, .plans-exclusive__text {
    margin-bottom: 100px; }

.plans-standart {
  margin-left: 85px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  .plans-standart:hover {
    -webkit-box-shadow: 0 0 5px 0 #000;
            box-shadow: 0 0 5px 0 #000; }
  .plans-standart-wrap {
    padding: 30px 0 0 35px;
    text-align: left;
    font-size: 14px;
    height: 235px; }
    .plans-standart-wrap__text {
      padding-bottom: 10px; }
  .plans-standart__title {
    height: 65px;
    line-height: 65px;
    background: #10b292;
    font-size: 16px; }
    .plans-standart__title a {
      display: block;
      text-decoration: none;
      color: #fff; }
      .plans-standart__title a:hover {
        font-size: 18px; }

.plans-exclusive {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  .plans-exclusive:hover {
    -webkit-box-shadow: 0 0 5px 0 #000;
            box-shadow: 0 0 5px 0 #000; }

/*Twelfth section*/
.subscribe {
  background: url(../img/Layer-449.jpg) no-repeat 50% 80%; }
  .subscribe-banner {
    padding: 75px 0 55px; }
    .subscribe-banner__title {
      padding-bottom: 30px;
      color: #fff; }
  .subscribe-form {
    text-align: center;
    font-size: 14px;
    margin-bottom: 100px; }
    .subscribe-form__email {
      height: 40px;
      width: 360px;
      background: transparent;
      border: 1px solid #a3a6ac;
      border-top: 0;
      padding-left: 20px;
      color: #fff; }
      .subscribe-form__email::-webkit-input-placeholder {
        color: #fff; }
      .subscribe-form__email::-moz-placeholder {
        color: #fff; }
      .subscribe-form__email:-ms-input-placeholder {
        color: #fff; }
      .subscribe-form__email::-ms-input-placeholder {
        color: #fff; }
      .subscribe-form__email::placeholder {
        color: #fff; }
    .subscribe-form__button {
      margin-left: 5px;
      width: 150px;
      height: 40px; }
      .subscribe-form__button:hover {
        border: none;
        background: #f3f3f3;
        color: #10b292; }

/*Thirteenth section*/
.contact {
  background: #f3f3f3; }
  .contact-banner {
    padding: 75px 0 95px; }
    .contact-banner__title {
      padding-bottom: 30px; }

.email {
  margin-left: 83px; }
  .email-layer444, .office-layer448, .phone-layer447 {
    background: url(../img/Layer-444.jpg) no-repeat 50% 70%;
    width: 287px;
    height: 144px; }
    .email-layer444__dark, .office-layer448__dark, .phone-layer447__dark {
      text-align: center;
      background: rgba(0, 0, 0, 0.1); }
    .email-layer444__icon, .office-layer448__icon, .phone-layer447__icon {
      font-size: 50px;
      line-height: 144px;
      color: #fff; }
  .email-content, .office-content, .phone-content {
    width: 287px;
    height: 128px;
    background: #fff;
    text-align: center;
    margin-bottom: 100px; }
    .email-content__title, .office-content__title, .phone-content__title {
      color: #4e555f;
      text-transform: uppercase;
      padding: 28px 0 18px; }
    .email-content__text, .office-content__text, .phone-content__text {
      text-transform: uppercase; }

.office {
  margin-left: 30px; }
  .office-layer448 {
    background: url(../img/Layer-448.jpg) no-repeat 50% 70%; }

.phone {
  margin-left: -25px; }
  .phone-layer447 {
    background: url(../img/Layer-447.jpg) no-repeat 50% 70%; }

.info {
  background: #fff; }
  .info-form {
    margin: 80px 0 130px 83px;
    font-size: 14px; }
    .info-form__text, .info-form__email, .info-form__adress {
      width: 287px;
      height: 40px;
      padding-left: 20px;
      border: 1px solid #d8dce0; }
      .info-form__text::-webkit-input-placeholder, .info-form__email::-webkit-input-placeholder, .info-form__adress::-webkit-input-placeholder {
        color: #d8dce0; }
      .info-form__text::-moz-placeholder, .info-form__email::-moz-placeholder, .info-form__adress::-moz-placeholder {
        color: #d8dce0; }
      .info-form__text:-ms-input-placeholder, .info-form__email:-ms-input-placeholder, .info-form__adress:-ms-input-placeholder {
        color: #d8dce0; }
      .info-form__text::-ms-input-placeholder, .info-form__email::-ms-input-placeholder, .info-form__adress::-ms-input-placeholder {
        color: #d8dce0; }
      .info-form__text::placeholder, .info-form__email::placeholder, .info-form__adress::placeholder {
        color: #d8dce0; }
    .info-form__email {
      margin: 0 36px; }
    .info-form__comment {
      margin: 30px 0;
      width: 940px;
      height: 188px;
      border: 1px solid #d8dce0; }
    .info-form__button {
      width: 940px;
      font-size: 16px;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
      .info-form__button:hover {
        color: #10b292;
        background: #d8dce0;
        border: none;
        -webkit-border-radius: 5px;
                border-radius: 5px; }

.map {
  background: url(../img/MAP.jpg) no-repeat 0% 50%; }
  .map-dark {
    text-align: center; }
    .map-dark__text {
      font-size: 16px;
      text-transform: uppercase;
      line-height: 429px;
      color: #fff; }
    .map-dark__link {
      margin-left: 20px;
      width: 18px;
      height: 18px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background: #10b292;
      color: #fff; }
      .map-dark__link:hover {
        color: #10b292;
        background: #fff; }

.footer {
  background: #f3f3f3;
  text-align: center; }
  .footer__logo {
    margin: 70px 0 5px; }
    .footer__logo a {
      color: #323a45;
      text-decoration: none; }
  .footer__social {
    margin: 30px 0 85px; }
    .footer__social-facebook a {
      font-size: 25px;
      color: #3b5998; }
    .footer__social-twitter a {
      font-size: 25px;
      color: #26a6d1; }
    .footer__social-linkedin a {
      font-size: 25px;
      color: #0e76a8; }
    .footer__social-instagram a {
      font-size: 25px;
      color: #3f729b; }
    .footer__social-vimeo a {
      font-size: 25px;
      color: #86c9ef; }

/* 320 - 480 px */
@media screen and (max-width: 480px) {
  .header {
    -webkit-background-size: cover;
            background-size: cover; } }
