$menu-text: #fff //текст меню
$active-color: #10b292
$h-color: #4e555f //серы
$body-text: #a3a6ac

 
$button-bg: #fea100 //оранжевый для кнопки и второго заголовка

$call-bg: #edf1f3 //серый фон
$border: #e1e1e1 //цвет границы
$footer-bg: #373844 //темно-синий фон
$footer-text: #93989e //серый текст

