@import "colors" //интегрируем переменные с цветами
@import "fontello" //иконки с fontello

/*Specification*/

ul
	padding: 0
	margin: 0
	list-style: none

p, h1, h5
	margin: 0

body
 font-family: 'Open Sans', sans-serif
 font-size: 16px
 font-weight: 400
 color: $body-text

input
 outline: none
 border-top: 0

.logo // логотип
 font-family: 'Roboto', sans-serif
	font-weight: 900
	font-size: 25px
	text-transform: uppercase

.banner //общая шапка 
 text-align: center
.banner__title //общий заголовок
	font-family: 'Source Sans Pro', sans-serif
	font-size: 20px
	color: $h-color
	letter-spacing: 4px
	text-transform: uppercase
.banner__text //общий контент
	display: inline-block
	width: 460px
	font-size: 14px

.small-title //маленький заголовок 
	font-size: 20px
	color: $h-color
.small-text
	font-size: 14px

.submit //кнопка с общими свойствами темная
 display: inline-block
 padding: 6px 30px
 border-radius: 20px
 border: 1px solid $h-color
 background: transparent
 color: $h-color
 text-decoration: none
 &:hover
 	background: $active-color
 	color: $menu-text
 	border: 1px solid $menu-text
 	text-decoration: none

.cta //переопределенная кнопка белая
 border: 1px solid $menu-text
 color: $menu-text
 &:hover
  border: 1px solid $h-color
  color: $h-color
  background: transparent 	

.cta_s
	color: $menu-text
 background: $active-color
 border-radius: 0
 border: none
 text-transform: uppercase
 cursor: pointer
 

.active //общий span
 color: $active-color
 font-weight: 700

.black //общий strong
 color: $h-color

.icons //общие иконки
 li
 	a
 		display: inline-block
 		width: 50px
 		height: 50px
 		border-radius: 50%
 		text-align: center
 		background: $icons-bg
 		color: $menu-text
 		font-size: 20px
 		line-height: 50px
 		text-decoration: none
 		&:hover
 			background: $active-color

.dark-curtains //общий прозрачныый темный фон
	background: rgba(0, 0, 0, 0.9)
	&__text
		font-family: 'Source Sans Pro', sans-serif
		font-size: 20px
		line-height: 320px
		text-align: center
		text-transform: uppercase
		color: $menu-text

.panel //общий прозрачныый зеленый фон
 background: rgba(24, 164, 134, 0.9)
 color: $menu-text

.ellipse /*радио-кнопки*/
 width: 10px
 height: 10px
 border: 1px solid $active-color
 border-radius: 50%
 cursor: pointer 

.disabl /*радио-кнопки*/
	display: none

/*Hero section*/
.header
	background: url(../img/Layer-1.jpg) no-repeat 50% 100%
 opacity: 0.9
 color: $menu-text
 //height: 100vh
 //width: 1370px
	&-logo // логотип
	 margin-top: 40px
		a
		 color: $menu-text
		 text-decoration: none
.menu // меню
 margin-top: 40px
	&__item //элементы меню
	 padding: 6px 19px
	 border-radius: 20px
	 border: 1px solid transparent
	 &:hover //при наведении
			border: 1px solid $menu-text //белая рамка
		a
		 color: $menu-text
			text-decoration: none
.header-title //блок с контентом
	margin: 210px 0 220px
	text-align: center
	h1 //главный заголовок
		font-family: 'Source Sans Pro', sans-serif
		font-size: 35px
		font-weight: 300
		letter-spacing: 6px
		text-transform: uppercase
	p //контент
		padding-top: 30px
		display: inline-block
		width: 630px
		line-height: 1.8rem
.angle-down //блок для стрелки
 text-align: center
 margin-bottom: 75px
	&__link
 	display: inline-block
 	width: 35px
 	height: 35px
 	border-radius: 50%
 	background: $active-color
 	color: $menu-text
 	text-align: center
 	line-height: 35px
 	&:hover
 	 color: $active-color
 	 background: $menu-text
.dark-bg //темный прозрачный фон
 background: rgba(0, 0, 0, 0.3)

/*Second section*/
.history
	margin: 110px 0 100px 165px
	&__title
		padding-bottom: 35px
 &__button
 	padding-top: 30px
.ipad //изображение 
  margin: 85px 0 0 120px

/*Third section*/ 
.details
 background: $details-bg
 &-banner
 	padding: 75px 0 60px
  &__title
   padding-bottom: 35px
 &-icons
  li
   padding-right: 25px
.creative-one //нижний блок
 padding: 60px 0 35px 90px 
 text-align: left
 &__title //заголовок
	 padding-bottom: 30px
 &__text //текст
	 width: 330px
.creative-two //нижний текст справа
 padding: 114px 80px 95px 0
 text-align: left
 &__text
	 width: 520px
	 line-height: 1.7

/*Fourth section*/
.projects 
	&-banner
		padding: 75px 0 60px
	 &__title
	 	padding-bottom: 30px
.img-layer83
	background: url(../img/Layer-83.jpg) 
	width: 600px
	height: 320px
	//margin-left: -100px
.img-layer17
	background: url(../img/Layer-17.jpg) 60% 50%
	width: 335px
	height: 320px
.img-layer18
	background: url(../img/Layer-18.jpg) 100% 50%
	width: 255px
	height: 320px
.img-layer84 //изображение нижнее под прозрач. фоном
 background: url(../img/Layer-84.jpg) no-repeat center
 //margin-left: -100px
 width: 1110px
 &__text //блок для текста
 	padding: 40px 0 40px 70px
 	font-size: 20px
  display: inline-block
  width: 755px
 &__button //блок для кнопки
 	margin-top: 37px
 	margin-right: 70px
  text-align: right

/*Fifth section*/ 
.services 
	background: $details-bg
	&-banner
		padding: 75px 0 60px
		&__title
			padding-bottom: 30px
 &-icons //блок с иконками
		margin: 0 0 125px 70px
		display: block
		text-align: center
	 li
	  padding-bottom: 15px
	  a
	  	display: inline-block
.graphic //блок с контентом
 &__title
  padding-bottom: 30px
  width: 405px
 &__text-one
 	padding-bottom: 30px
.circular //блок с круговыми диаграммами
	margin: 40px 0 0 85px
 color: $body-text
	&__item
		padding-right: 40px
		text-align: center
		position: relative
		&:after //для процентов
			content: "%"
			position: absolute
   top: 52px
   left: 75px
   font-size: 14px
		p
			padding-top: 10px
	&__text
		text-transform: uppercase

/*Sixth section*/ 
.team-quotes 
 background: url(../img/Layer-9.jpg) no-repeat 50% 40%
.part-one
 color: $menu-text
 padding: 75px 0 100px
 width: 600px
 &__title
	 font-size: 20px
	 text-transform: uppercase
	 letter-spacing: 4px
 &__citation
  padding-top: 50px 
 &__position
  padding-top: 20px
  text-transform: uppercase
.monitor //картинка с монитором
 margin-top: -37px
 padding-left: 100px
 //width: 409px
 //height: 328px
 position: relative
 p //надпись Bouncy
 	font-family: 'Roboto', sans-serif
	 font-weight: 900
	 color: $menu-text
	 text-transform: uppercase
 	position: absolute
 	top: 110px
 	left: 240px
 	font-size: 30px

/*Seventh section*/  		
.portfolio 
	background: $details-bg
	&-banner
		padding: 75px 0 60px
	 &__title
	 	padding-bottom: 30px
	&-menu
		margin: 15px 0 73px
		&__item
   margin-right: 30px
			a
    font-family: 'Open Sans', sans-serif
    font-size: 16px
    color: $h-color
    text-decoration: none
    &:after //создаем полоску
    	content: ""
    	display: block
    	width: 70%
    	height: 2px
    	background: $active-color
    	transform: translate(8px, 15px) scale(0) //перемещаем полоску вниз,сожмем(масштаб) до одной точки в середине
    	transition: all 0.2s
    &:hover //при наведении на ссылку
    	&:after
      transform: translate(8px, 15px) scale(1) //появляется полоска,от середины на всю ширину
.img-layer86 //1 img
	background: url(../img/Layer-86.jpg)
 width: 270px
	height: 360px
.img-layer87 //2 img
	background: url(../img/Layer-87.jpg) 50% 50%
	width: 270px
 height: 230px
	margin-left: -5px
.img-layer91 //3 img
 background: url(../img/Layer-91.jpg) 80% 50%
	width: 270px
	height: 300px
 margin-left: -10px
.img-layer88 //4 img
	background: url(../img/Layer-88.jpg) 70% 50%
	width: 270px
	height: 360px
	margin-left: -15px
.img-layer90 //5 img
	margin-top: 10px
	background: url(../img/Layer-90.jpg) no-repeat center
	width: 270px
	height: 360px
.img-layer95 //6 img
	margin: -120px 0 0 -5px
	background: url(../img/Layer-95.jpg) no-repeat 80% 50%
	width: 270px
	height: 342px
.img-layer89 //7 img
	margin: -50px 0 0 -10px
	background: url(../img/Layer-89.jpg) no-repeat 80% 50%
	width: 270px
	height: 373px
	&__content
	 width: 270px
	 height: 373px
	 padding: 105px 35px 0 40px
	 h5
	 	font-family: 'Source Sans Pro', sans-serif
			font-size: 20px
			color: $active-color
			letter-spacing: 4px
			text-transform: uppercase
			&:after //полоска подчеркивания заголовка
				content: ""
				width: 25px
				border-bottom: 1px solid $active-color
				position: absolute
    top: 100px
    left: 45px
	 p
   margin: 50px 0 60px
   font-size: 12px
 &__icons
 	li
   margin-right: 7px
 		a
    width: 28px
 		 height: 28px
    background: $black
    font-size: 12px
    line-height: 28px
.img-layer93 //8 img
	margin: -40px 0 0 -15px
	background: url(../img/Layer-93.jpg) no-repeat 30% 50%
 width: 270px
	height: 373px
.img-layer92 //9 img
 margin-top: 10px
 background: url(../img/Layer-92.jpg) no-repeat 100% 50%
	width: 270px
	height: 210px
.img-layer96 //10 img
	margin: -140px 0 0 -5px
	background: url(../img/Layer-96.jpg) no-repeat 70% 50%
	width: 270px
	height: 360px
.img-layer94 //11 img
	margin: -38px 0 0 -10px
	background: url(../img/Layer-94.jpg) no-repeat 50% 50%
	width: 270px
	height: 258px
.img-layer97 //12 img
	margin: -77px 0 0 -15px
	background: url(../img/Layer-97.jpg) no-repeat 5% 20%
	width: 270px
	height: 297px
.img-layer102 //down img
 margin: 40px 0 100px
 background: url(../img/Layer-102.jpg) no-repeat 50% 30%
 &__text
 	padding: 55px 0 25px
 	font-size: 20px
 	text-align: center
 &__button
 	text-align: center
 	padding-bottom: 55px

/*Eighth section*/
.team
	&-banner
		padding: 75px 0 60px
	 &__title
	 	padding-bottom: 30px
.img-layer103
	margin-left: 70px
	//width: 285px
	//height: 364px
.visit-card
	width: 370px
	text-align: right
	margin-right: 115px
	&:after //вертикальная полоска
	 content: ""
	 display: block
	 height: 42px
	 border-right: 4px solid $active-color
	 position: absolute
	 right: 45px
	 top: 2px
	i
		font-family: 'Source Sans Pro', sans-serif
		text-transform: uppercase
		display: inline-block
		margin-bottom: 30px
	
.skillbox
	margin: 40px 0 0 40px
	text-transform: uppercase
	width: 330px
	&__info
  margin-top: 25px
  font-family: 'Source Sans Pro', sans-serif
		margin-bottom: 4px
	&__wrap
		background: $skill-bg
		&_level
			background: $active-color
			//width: 80%
			height: 4px
			//transition: 0.4s linear
			//transition-property: width, background
.team-bullets  /*радио-переключатели*/
	margin: 60px 0 100px
 &__ellipse
  margin: 0 10px 0 0
#photo1
	&:checked ~.label1
		background: $active-color
 &:checked ~.img-layer103
  //background: url(../img/Layer-103.jpg)
#photo2
	&:checked ~.label2
		background: $active-color
 &:checked ~.img-layer449
  //background: url(../img/Layer-449.jpg)
#photo3
	&:checked ~.label3
		background: $active-color
 &:checked ~.img-layer446
  //background: url(../img/Layer-446.jpg)

.img-layer104
	background: url(../img/Layer-104.jpg)
 text-align: center
 color: $menu-text
 &__text
 	padding: 55px 0 25px
 	font-size: 20px
 	//text-align: center
 &__button
 	//text-align: center
 	padding-bottom: 55px
 	

/*Nineth section*/
.testimonials
	background: $details-bg
	&-banner
		padding: 75px 0 60px
	 &__title
	 	padding-bottom: 30px
	&-bg
		background: $menu-text
 &-bullets
  margin-bottom: 60px
  &__ellipse
   margin: 0 10px 0 0
 &-empty
 	background: $details-bg
 	margin-top: 100px
.img-layer439
 padding: 50px 60px 60px 100px
.founder	
 &__text
 	padding-top: 50px
 	width: 770px
 &__name
  margin-top: 20px
 	text-transform: uppercase
 &__art
  text-transform: uppercase
  color: $h-color
#photo4
	&:checked ~.label4
		background: $active-color
 //&:checked ~.img-layer103
  //background: url(../img/Layer-103.jpg)
#photo5
	&:checked ~.label5
		background: $active-color
 //&:checked ~.img-layer449
  //background: url(../img/Layer-449.jpg)
#photo6
	&:checked ~.label6
		background: $active-color
 //&:checked ~.img-layer446
  //background: url(../img/Layer-446.jpg)

/*Tenth section*/
.blog
	background: url(../img/Layer-441.jpg) no-repeat center
 text-align: left
 &-banner
  padding: 75px 0 95px
	 &__title
	 	padding-bottom: 30px
	 	color: $menu-text
 &-trending
 	padding-left: 70px
 	&__title
 		color: $menu-text
 	&__by
 	 margin: 8px 0 15px
 	 font-family: 'Source Sans Pro', sans-serif	
   font-size: 14px
   text-transform: uppercase
   display: block
  &__post
   font-family: 'Source Sans Pro', sans-serif	
   font-size: 14px
  	color: #464646
  &__text
   margin: 55px 0 50px
   width: 600px
  &__button
  	margin-bottom: 100px
  	&_mod
  		padding: 0
  		border: none
  		color: $icons-bg
  		&:hover
  			border: none
  			background: transparent
 &-bullets
 	position: relative
 	top: 50%
 	left: 80%
 	&__ellipse
 		&_mod
	   border: 1px solid #b2b3b3
#photo7
	&:checked ~.label7
		background: #b2b3b3
 //&:checked ~.img-layer103
  //background: url(../img/Layer-103.jpg)
#photo8
	&:checked ~.label8
		background: #b2b3b3
 //&:checked ~.img-layer449
  //background: url(../img/Layer-449.jpg)
#photo9
	&:checked ~.label9
		background: #b2b3b3
 //&:checked ~.img-layer446
  //background: url(../img/Layer-446.jpg)

/*Eleventh section*/
.price
	background: $details-bg
	&-banner
		padding: 75px 0 95px
	 &__title
	 	padding-bottom: 30px
	 &__text
.plans
	width: 235px
	height: 300px
	text-align: center
	font-size: 20px
	background: $menu-text
.plans-premium
	margin: 0 0 100px 165px
	transition: all 0.2s
	&:hover
	 box-shadow: 0 0 5px 0 $black
	&__title
		height: 65px
		line-height: 65px
		background: $active-color
		color: $menu-text
		font-weight: 700
		text-transform: uppercase
	&__price
	 padding-top: 45px
	 font-family: 'Source Sans Pro', sans-serif	
	 font-size: 42px
	 font-weight: 900
	&__text
  margin-bottom: 100px
.plans-standart
	margin-left: 85px
	transition: all 0.2s
	&:hover
	 box-shadow: 0 0 5px 0 $black
	&-wrap
		padding: 30px 0 0 35px
		text-align: left
		font-size: 14px
		height: 235px
		&__text
			padding-bottom: 10px
	&__title
  height: 65px
		line-height: 65px
		background: $active-color
	 font-size: 16px
	 a
	  display: block
	  text-decoration: none
	  color: $menu-text
	  &:hover
	  	font-size: 18px
.plans-exclusive
	transition: all 0.2s
	&:hover
	 box-shadow: 0 0 5px 0 $black
 &__title  
  @extend .plans-premium__title
 &__price
  @extend .plans-premium__price
 &__text
 	@extend .plans-premium__text

/*Twelfth section*/
.subscribe
 background: url(../img/Layer-449.jpg) no-repeat 50% 80%
 &-banner
		padding: 75px 0 55px
	 &__title
	 	padding-bottom: 30px
	 	color: $menu-text
	&-form
		text-align: center
 	font-size: 14px
 	margin-bottom: 100px
  &__email
  	height: 40px
  	width: 360px
  	background: transparent
  	//outline: none
  	border: 1px solid $body-text
  	border-top: 0
  	padding-left: 20px
  	color: $menu-text
  	&::placeholder
  	 color: $menu-text  
  &__button
  	margin-left: 5px
  	width: 150px
  	height: 40px
  	&:hover
    border: none
    background: $details-bg
    color: $active-color
  	

/*Thirteenth section*/
.contact
	background: $details-bg
	&-banner
		padding: 75px 0 95px
	 &__title
	 	padding-bottom: 30px
.email
	margin-left: 83px
 &-layer444
		background: url(../img/Layer-444.jpg) no-repeat 50% 70%
	 width: 287px
	 height: 144px
	 &__dark
	 	text-align: center
	 	background: rgba(0, 0, 0, 0.1)
	 &__icon
	  font-size: 50px
	  line-height: 144px
	  color: $menu-text
 &-content
		width: 287px
		height: 128px
		background: $menu-text
		text-align: center
		margin-bottom: 100px
		&__title
			color: $h-color
			text-transform: uppercase
			padding: 28px 0 18px
		&__text
	  text-transform: uppercase
.office
	margin-left: 30px
 &-layer448
  background: url(../img/Layer-448.jpg) no-repeat 50% 70%
  @extend .email-layer444
  &__dark
   @extend .email-layer444__dark
  &__icon
  	@extend .email-layer444__icon
 &-content
	 @extend .email-content
  &__title
   @extend .email-content__title
  &__text
   @extend .email-content__text
.phone
	margin-left: -25px
 &-layer447
  background: url(../img/Layer-447.jpg) no-repeat 50% 70%
  @extend .email-layer444
  &__dark
   @extend .email-layer444__dark
  &__icon
  	@extend .email-layer444__icon
 &-content
	 @extend .email-content
  &__title
   @extend .email-content__title
  &__text
   @extend .email-content__text
.info
	background: $menu-text
 &-form
 	margin: 80px 0 130px 83px
 	font-size: 14px
 	
 	&__text
 		width: 287px
		 height: 40px
		 padding-left: 20px
		 border: 1px solid $border-input
		 &::placeholder
  	 color: #d8dce0
 	&__email
 		@extend .info-form__text
 		margin: 0 36px
 	&__adress
 		@extend .info-form__text
 	&__comment
 		margin: 30px 0 
 		width: 940px
 		height: 188px
 		border: 1px solid $border-input
 	&__button
 		width: 940px
 		font-size: 16px
 		transition: all 0.2s
 		&:hover
 		 color: $active-color	
    background: $border-input
    border: none
    border-radius: 5px
.map
	background: url(../img/MAP.jpg) no-repeat 0% 50%
 //height: 495px
 &-dark
  text-align: center 	
  &__text 
   font-size: 16px
   text-transform: uppercase
   line-height: 429px
   color: $menu-text
  &__link
  	margin-left: 20px
 	 width: 18px
 	 height: 18px
 	 border-radius: 50%
 	 background: $active-color
 	 color: $menu-text
 	 &:hover
 	 	color: $active-color
 	 	background: $menu-text

.footer
	background: $details-bg
	text-align: center
	&__logo
  margin: 70px 0 5px
		a
		 color: #323a45
		 text-decoration: none
 &__copy
 &__social
 	margin: 30px 0 85px
  &-facebook
  	a
  	 font-size: 25px
  	 color: #3b5998
  &-twitter
  	a
	  	font-size: 25px
	  	color: #26a6d1
  &-linkedin
  	a
	  	font-size: 25px
	  	color: #0e76a8
  &-instagram
  	a
	  	font-size: 25px
	  	color: #3f729b
  &-vimeo
  	a
	  	font-size: 25px
	  	color: #86c9ef







@import "media" //интегрируем медиа запросы