@import "colors"//интегрируем переменные с цветами
@import "fontello"//иконкa

.header
	font-family: 'Open Sans', sans-serif
	font-weight: 400
	color: $menu-text
	background: url(../img/Layer-1.jpg) no-repeat center top
 &-navbar //основное меню
 	padding: 40px
 &-logo // логотип
	 a
	  font-family: 'Roboto', sans-serif
	  color: $menu-text
	  font-weight: 900
	  font-size: 24px
	  text-decoration: none
	  text-transform: uppercase
 &-menu // меню
	 list-style: none
	 padding: 0
	 margin: 0
	 //display: block
	 &__item //элементы
		 a
		 	color: $menu-text
			 text-decoration: none
			 //width: 300px
			 //display: block
			 &:hover
			 	border: 1px solid $menu-text
			 	border-radius: 20px
			 	padding: 8px 20px
			 	//width: 75px
	&-title
		padding: 230px 0 330px
		text-align: center
		h1
			font-family: 'Source Sans Pro', sans-serif
			font-weight: 300
		p
			font-family: 'Open Sans', sans-serif
			font-weight: 400
 &__icon
	 a
 	 display: block
 	 width: 20px
 	 height: 20px
 	 text-align: center