@import "colors"//интегрируем переменные с цветами
@import "fontello"//иконки с fontello

/*Спецификация*/

ul
	padding: 0
	margin: 0
	list-style: none

p, h1, h5
	margin: 0

body
 font-family: 'Open Sans', sans-serif
 font-size: 16px
 font-weight: 400
 color: $body-text

.banner //общая шапка 
	padding: 75px 0 60px
 text-align: center
.banner-title //общий заголовок
 padding-bottom: 35px
	font-family: 'Source Sans Pro', sans-serif
	font-size: 20px
	color: $h-color
	letter-spacing: 4px
	text-transform: uppercase
.banner-text //общий контент
 display: inline-block
 width: 460px
 font-size: 14px

.submit //кнопка с общими свойствами
 display: inline-block
 padding: 6px 30px
 border-radius: 20px
 border: 1px solid $h-color
 background: transparent
 color: $h-color
 text-decoration: none
 &:hover
 	background: $active-color
 	color: $menu-text
 	border: 1px solid $menu-text
 	text-decoration: none

.green //общий span
 color: $active-color
 font-weight: 700

.black //общий strong
 color: $h-color

.icons //общие иконки
 li
 	a
 		display: inline-block
 		width: 50px
 		height: 50px
 		border-radius: 50%
 		text-align: center
 		background: $icons-bg
 		color: $menu-text
 		font-size: 20px
 		line-height: 50px
 		text-decoration: none
 		&:hover
 			background: $active-color

.dark-curtains //общий прозрачныый темный фон
	//background: rgba(0, 0, 0, 0.5)
	font-family: 'Source Sans Pro', sans-serif
	font-size: 20px
	line-height: 320px
	text-align: center
	text-transform: uppercase
	color: $menu-text
	transition: all 0.2s
	//cursor: pointer
	&:hover
		display: none

/*1-й экран*/

.header 
	//background: url(../img/Layer-1.jpg) no-repeat 50% 100%
 //opacity: 0.9
 color: $menu-text
 //position: relative
 //width: 1169px
 //overflow: hidden
 //height: 737px
 //img
 	//position: absolute
 	//left: 75px
 	//margin: -168px 0 0 -50px
 &_dark-bg //темный прозрачный фон
 	//background: rgba(0, 0, 0, 0.3)
 	//background: hsla(10, 10%, 10%, 0.2)
 &-bg
  background: url(../img/Layer-1.jpg) no-repeat 50% 100%
 	width: 1169px
 	//overflow: hidden
 	//img
 		//position: absolute
 &-logo // логотип
 	margin-top: 40px
 	font-family: 'Roboto', sans-serif
	 font-weight: 900
	 font-size: 25px
	 text-transform: uppercase
	 a
	  color: $menu-text
	  text-decoration: none
 &-menu // меню
 	margin-top: 40px
	 &__item //элементы меню
	 	padding: 6px 19px
	 	border-radius: 20px
	 	border: 1px solid transparent
	 	&:hover //при наведении
			 border: 1px solid $menu-text //белая рамка
		 a
		 	color: $menu-text
			 text-decoration: none
	&-title //блок с контентом
		margin: 210px 0 220px
		text-align: center
		h1 //главный заголовок
			font-family: 'Source Sans Pro', sans-serif
			font-size: 35px
			font-weight: 300
			letter-spacing: 6px
			text-transform: uppercase
		p //контент
			padding-top: 30px
			display: inline-block
			width: 630px
			line-height: 1.8rem
 &-arrow //блок для стрелки
 	text-align: center
 	margin-bottom: 75px
	 a
	 	i
 	 	display: inline-block
 	 	width: 35px
 	  height: 35px
 	  border-radius: 50%
 	  background: $active-color
 	  color: $menu-text
 	  text-align: center
 	  line-height: 35px
   
.about //блок для 2 страницы
 &__title
 	margin: 110px 0 100px 165px 
 &__button
 	padding-top: 30px
 &__ipad //изображение 
  margin: 85px 0 0 120px

.details //блок для 3 страницы
 background: $details-bg
 &__icons
 	li
   padding-right: 25px
 &__title-creative //нижний блок
 	padding: 60px 0 35px 90px 
 	text-align: left
 	h5 //заголовок
	  font-size: 20px
	  color: $h-color
	  padding-bottom: 30px
  p //текст
	  width: 330px
 &__text-creative-right //нижний текст справа
  padding: 114px 80px 95px 0
 	text-align: left
 	p
	 	font-size: 14px
	 	width: 520px
	 	line-height: 1.7

.projects //блок для 4 страницы
	&__img-layer83
	 width: 600px
	 height: 320px
	 overflow: hidden
	 img
	 	margin-left: -100px
	&__img-layer17
	 width: 335px
	 height: 320px
	 overflow: hidden
	 img
	 	margin-left: -150px
	&__img-layer18
	 width: 255px
	 height: 320px
	 overflow: hidden
	 img
	 	margin-left: -100px
 &-bg
 	background: url(../img/Layer-84.jpg) no-repeat center
 &__panel //изображение нижнее под прозрач. фоном
  //height: 115px
  //width: 100%
  background: rgba(24, 164, 134, 0.9)
  color: $menu-text
  &-text //блок для текста
 	 p
 	 	padding: 40px 0 40px 70px
 	 	width: 745px
 	 	font-size: 20px
 	&-button //блок для кнопки
 		margin-top: 37px
 		margin-left: 50px
 		a //переопределяем стили
    border: 1px solid $menu-text
    color: $menu-text
    &:hover
    	border: 1px solid $h-color
    	color: $h-color
    	background: transparent

.services //блок для 5 страницы
	&__icons //блок с иконками
		margin: 0 0 125px 70px
		display: block
		text-align: center
  li
  	padding-bottom: 15px
  	a
  		display: inline-block
	&__title-graphic //блок с контентом
		h5
	  font-size: 20px
	  color: $h-color
  p
  	padding-top: 30px
  	width: 405px
  	font-size: 14px
	&__progress //блок с круговыми диаграммами
		margin: 40px 0 0 85px
		color: $body-text
		&-circle
			padding-right: 40px
			text-align: center
			position: relative
			&:after //для процентов
				content: "%"
				position: absolute
    top: 52px
    left: 75px
    font-size: 14px
			p
				padding-top: 10px

.team-quotes //блок для 6 страницы
 background: url(../img/Layer-9.jpg) no-repeat 50% 40%
 //background: rgba(0, 0, 0, 0.8)
 //width: 1366px
 //height: 391px
 &__dark
  background: rgba(0, 0, 0, 0.9)
 &__left-part
 	color: $menu-text
 	padding: 75px 0 100px
 	width: 600px
  h5
	  font-size: 20px
	  text-transform: uppercase
	  letter-spacing: 4px
  &_citation
  	padding-top: 50px 
  &_director
  	padding-top: 20px
  	text-transform: uppercase
 &__img //картинка с монитором
 	margin-top: -37px
 	padding-left: 100px
 	//width: 409px
 	//height: 328px
 	position: relative
 	p //надпись Bouncy
 		font-family: 'Roboto', sans-serif
	  font-weight: 900
	  color: $menu-text
	  text-transform: uppercase
 		position: absolute
 		top: 110px
 		left: 240px
 		font-size: 30px
 		
.portfolio //блок для 7 страницы
	&-menu
		margin: 15px 0 75px
		&__item
   margin-right: 30px
			a
    font-family: 'Open Sans', sans-serif
    font-size: 16px
    color: $h-color
    text-decoration: none

 &__img-layer-86
 	width: 270px
 	height: 360px
 &__img-layer-87
 	width: 270px
 	height: 230px
 	overflow: hidden
 	img
  	margin-left: -90px
 &__img-layer-91
 	margin-left: -5px
 	width: 270px
 	height: 300px
  overflow: hidden
  img
  	margin-left: -90px
 &__img-layer-88
 	margin-left: -10px
 	width: 270px
 	height: 360px
 	overflow: hidden	
  img
  	margin-left: -150px
